:root {
  --first-title-color: #ffffff;
  --second-title-color: #2f303a;
  --third-title-color: #e5e5e5;
  --forth-title-color: #f5f4fa;
  --logo-header-color: #000000;
  --logo-footer-color: #ffffff;
  --first-text-color: #212121;
  --second-text-color: #757575;
  --akcent-color: #2196f3;
  --hero-text-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--first-text-color);
}

button {
  cursor: pointer;
  border-style: none;
  border-radius: 4px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

img {
  display: block;
}

.list {
  list-style-type: none;
}

.link.actual {
  color: var(--akcent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 1000ms;
  transition: -webkit-transform 1000ms;
  transition: transform 1000ms;
  transition: transform 1000ms, -webkit-transform 1000ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}

.modal__close {
  position: absolute;
  min-width: 30px;
  min-height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:hover, .modal__close:focus {
  fill: var(--akcent-color);
}

.modal__box {
  padding: 40px;
}

.modal__basic {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.form__div {
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.form__label {
  margin-bottom: 4px;
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover, .form__input:focus {
  border-color: var(--akcent-color);
}

.form__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover + .form__icon,
.form__input:focus + .form__icon {
  fill: var(--akcent-color);
}

.form__textarea {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  outline: none;
  padding: 12px 16px;
}

.form__check {
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.check__item {
  width: 16px;
  height: 15px;
  border: 2px solid var(--first-text-color);
  border-radius: 2px;
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.check__input:checked + .check__text .check__item {
  background-color: var(--akcent-color);
  border: none;
}

.check__input:focus + .check__text .check__item,
.check__input:hover + .check__text .check__item {
  border-color: var(--akcent-color);
}

.check__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.check__text-link {
  color: var(--akcent-color);
  margin-left: 4px;
}

.modal__button {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--first-title-color);
  background: var(--akcent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 55px 10px 56px;
  margin: 0 auto;
  -webkit-transition: -webkit-transform 100ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 100ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 100ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 100ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 100ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover,
.modal__button:focus {
  -webkit-transform: translate(0, 0.08em);
          transform: translate(0, 0.08em);
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo__link {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-header-color);
  margin-right: 93px;
}

.header-logo__akcent {
  color: var(--akcent-color);
}

.header-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-page__item:not(:last-child) {
  margin-right: 50px;
}

.header-page__link {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
  padding-top: 31px;
  padding-bottom: 31px;
  display: block;
  position: relative;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-page__link:hover, .header-page__link:focus {
  color: var(--akcent-color);
}

.header-page__link.actual::after {
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--akcent-color);
  position: absolute;
  bottom: -1px;
  display: block;
}

.header-page__link:not(:last-child) {
  margin-right: 50px;
}

.header-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  margin-left: auto;
}

.header-contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-contact__item:not(:last-child) {
  margin-right: 50px;
}

.header-contact__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  padding-top: 31px;
  padding-bottom: 31px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact__link:not(:last-child) {
  margin-right: 50px;
}

.header-contact__link:hover, .header-contact__link:focus {
  color: var(--akcent-color);
}

.header__icon {
  fill: var(--second-text-color);
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact__link:hover .header__icon,
.header-contact__link:focus .header__icon {
  fill: var(--akcent-color);
}

.hero {
  background: var(--second-title-color);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero.png);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 210px;
  max-width: 1600px;
  margin: 0 auto;
}

.hero__heading {
  font-style: normal;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-title-color);
}

.hero__button {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  min-width: 200px;
  min-height: 50px;
  color: var(--hero-text-color);
  background-color: var(--akcent-color);
  border-color: var(--akcent-color);
  margin-top: 30px;
  padding: 10px 32px;
  -webkit-transition: -webkit-transform 100ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 100ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 100ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 100ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 100ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover {
  -webkit-transform: translate(0, 0.08em);
          transform: translate(0, 0.08em);
}

.advantage {
  background: var(--first-title-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantage__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantage__item:not(:last-child) {
  margin-right: 30px;
}

.advantage__cell {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.advantage__name {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-text-color);
  margin-bottom: 20px;
}

.advantage__p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.present {
  background-color: var(--first-title-color);
  padding-bottom: 94px;
}

.present__basic-name {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  margin-bottom: 50px;
}

.present__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.present__item:not(:last-child) {
  margin-right: 30px;
}

.present__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.present__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-title-color);
  padding: 27px 0;
  position: absolute;
  width: 100%;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}

.comand {
  background: var(--forth-title-color);
  padding: 94px 0 94px 0;
}

.comand__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  margin-bottom: 50px;
}

.comand__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.comand__item {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.comand__item:not(:last-child) {
  margin-right: 30px;
}

.comand__box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.comand__name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  text-align: center;
  margin-bottom: 10px;
}

.comand__prof {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  text-align: center;
  margin-bottom: 16px;
}

.comand-social__item {
  width: 44px;
  height: 44px;
}

.comand-social__item:not(:last-child) {
  margin-right: 10px;
}

.comand-social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comand-social__link:hover, .comand-social__link:focus {
  background-color: var(--akcent-color);
}

.comand-social__icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comand-social__link:hover .comand-social__icon,
.comand-social__link:focus .comand-social__icon {
  fill: var(--first-title-color);
}

.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers__heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  margin-bottom: 54px;
}

.customers__list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.customers__item {
  width: 170px;
  height: 92px;
}

.customers__item:not(:last-child) {
  margin-right: 30px;
}

.customers__link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.customers__link:hover, .customers__link:focus {
  border: 1px solid var(--akcent-color);
}

.customers__icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link:hover .customers__icon,
.customers__link:focus .customers__icon {
  fill: var(--akcent-color);
}

.footer {
  background: var(--second-title-color);
  padding: 60px 0 60px 0;
}

.footer__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__div {
  margin-right: 85px;
}

.fooret__link-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-footer-color);
  display: block;
  margin-bottom: 20px;
}

.footer__akcent {
  color: var(--akcent-color);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: var(--logo-footer-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
}

.adress__contact {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-social {
  margin-right: 93px;
}

.footer-social__heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-title-color);
  padding-bottom: 20px;
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-social__item {
  width: 44px;
  height: 44px;
  color: var(--akcent-color);
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #43444d;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--akcent-color);
}

.footer-social__icon {
  fill: var(--logo-footer-color);
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-box__heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-title-color);
  padding-bottom: 20px;
}

.footer-form__lable {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input {
  width: 358px;
  height: 50px;
  color: var(--first-title-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  margin-right: 12px;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form__input:hover, .footer-form__input:focus {
  border-color: var(--akcent-color);
}

.footer-form__button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 28px 10px 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  background: var(--akcent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 100ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 100ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 100ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 100ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 100ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form__button:hover, .footer-form__button:focus {
  -webkit-transform: translate(0, 0.08em);
          transform: translate(0, 0.08em);
}

.footer-form__span {
  margin-right: 10px;
}

.portfolio {
  padding-top: 94px;
  margin-bottom: 94px;
}

.buner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buner__item:not(:last-child) {
  margin-right: 8px;
}

.buner__tap {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  background-color: var(--forth-title-color);
  padding: 6px 22px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buner__tap:hover, .buner__tap:focus {
  background-color: var(--akcent-color);
  color: var(--hero-text-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards__item {
  margin-right: 30px;
  margin-bottom: 30px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.cards__item:hover, .cards__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

a.cards__link {
  text-decoration: none;
}

.cards__item:nth-child(3n) {
  margin-right: 0;
}

.cards__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.cards__img {
  position: relative;
  overflow: hidden;
}

.cards__text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-family: Roboto;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--hero-text-color);
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards__link:hover .cards__text,
.cards__link:focus .cards__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card__description {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: 0px;
}

.card__head {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-text-color);
}

.card__branch {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
/*# sourceMappingURL=main.css.map */