:root {
   --first-title-color: #ffffff;
   --second-title-color: #2f303a;
   --third-title-color: #e5e5e5;
   --forth-title-color: #f5f4fa;
   --logo-header-color: #000000;
   --logo-footer-color: #ffffff;
   --first-text-color: #212121;
   --second-text-color: #757575;
   --akcent-color: #2196f3;
   --hero-text-color: #ffffff;
}

.visually-hidden {
   position: absolute;
   clip: rect(0 0 0 0);
   width: 1px;
   height: 1px;
   margin: -1px;
}

h1,
h2,
h3,
h4,
p {
   margin: 0;
}
ul {
   margin: 0;
   padding: 0;
}

body {
   font-family: Roboto, sans-serif;
   color: var(--first-text-color);
}

button {
   cursor: pointer;
   border-style: none;
   border-radius: 4px;
}

.container {
   width: 1200px;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;
}

.link {
   text-decoration: none;
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
}

img {
   display: block;
}

.list {
   list-style-type: none;
}

.link.actual {
   color: var(--akcent-color);
}
